#marca {
    width: 50px;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.bg {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    /*background: url(../img/bg.jpg) no-repeat bottom center scroll;*/
    background: url(../img/bg.jpg) no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg img {
    margin-top: 150px;
    padding: 20px;
}

h1 {
    color: white !important;
    text-align: center;
}

section {
    padding-top: 100px;
}

/* imagens responsivas */

/* quando a largura é maior ou igual a 1200 */
@media only screen and (min-width: 1200px) {
    #main-container img{
        height: 290px;
        width: 190px;
    }
}

/* quando a largura é menor ou igual a 1199 */
@media only screen and (max-width: 1199px) {
    #main-container img{
        height: 315px;
        width: 220px;
    }
}

/* quando a largura é menor ou igual a 991 */
@media only screen and (max-width: 991px) {
    #main-container #recentes img{
        height: 270px;
        width: 174px;
    }

    #main-container #pontuados img{
        height: 199px;
        width: 139px;
    }
}

/* quando a largura é menor ou igual a 769 */
@media only screen and (max-width: 769px) {
    #main-container #recentes img{
        height: 189px;
        width: 132px;
    }

    #main-container #pontuados img{
        height: 263px;
        width: 184px;
    }
}

@media only screen and (max-width: 575px) {
    #main-container img{
        height: 260px !important;
        width: 181px !important;
    }
}

@media only screen and (max-width: 510px) {
    #main-container #recentes img{
        height: 250px !important;
        width: 175px !important;
    }
}

@media only screen and (max-width: 376px) {
    #main-container #recentes img{
        height: 165px !important;
        width: 115px !important;
    }
}


.zoom-hover:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
    transition: all .3s ease-in-out;
}

.zoom-hover:not(hover) {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
    transition: all .3s ease-out;
}

a {
    text-decoration: none !important;
}

.livro-hover img{
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 5px;
}

.livro-hover img:hover {
    border-color: #92CDCF;
}

.livro-titulo{
    color:white;
    font-weight: bold;
}

.livro-titulo:hover {
    color: #92CDCF;
}

.livro-autor{
    color: #b3b3b3;
    font-size: 14px;
}

.livro-autor:hover {
    color: #b3b3b3;
}

.livro-pontuado img {
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    border: 5px solid white;
}

.livro-pontuado img:hover {
    border-color: #92CDCF;
}

.ranking-div {
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

/*NAV*/

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
}


#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #92CDCF;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
        text-shadow: 2px 2px 3px rgba(33, 37, 41, 1);
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }
}


/* menu ícone animado */
.menu-icon-wrapper{
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    pointer-events: none;
    transition: 0.1s;
}

.menu-icon-wrapper.scaled{
    transform: scale(0.5);
}

.menu-icon-wrapper svg{
    position: absolute;
    top: -33px;
    left: -33px;
}

.menu-icon-wrapper svg path{
    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
    fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}


/*pontuados*/

#livro-dados {
    padding-left: 3.3rem !important;
}

