#marca {
    width: 50px;
}

#logo {
    margin: 100px 0 100px 0;
    width: 40%;
}

body, html {
    height: 100%;
}

.bg {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    /*background: url(../img/bg.jpg) no-repeat bottom center scroll;*/
    background: url(../img/bg.jpg) no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg img {
    margin-top: 150px;
    padding: 20px;
}

/* imagens responsivas */

/* quando a largura é maior ou igual a 1200 */
@media only screen and (min-width: 1200px) {
    #main-container #recentes img{
        height: 300px;
        width: 100%;
    }
}

/* quando a largura é menor ou igual a 1199 */
@media only screen and (max-width: 1199px) {
    #main-container #recentes img{
        height: 100%;
        width: 220px;
    }
}

/* quando a largura é menor ou igual a 991 */
@media only screen and (max-width: 991px) {
    #main-container #recentes img{
        height: 270px;
        width: 100%;
    }
}

/* quando a largura é menor ou igual a 769 */
@media only screen and (max-width: 769px) {
    #main-container #recentes img{
        height: 100%;
        width: 260px;
    }
}

@media only screen and (max-width: 541px) {
    #main-container #recentes img{
        height: 100%;
        width: 220px;
    }
}


.zoom-hover:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
    transition: all .3s ease-in-out;
}

.zoom-hover:not(hover) {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
    transition: all .3s ease-out;
}

#navbar {
    z-index: 1;
    top: 0px;
    position: sticky;
    width: 100%;
}

/*
.livro-hover:hover {
    -webkit-transform:scale(1.04);
    -moz-transform:scale(1.04);
    -ms-transform:scale(1.04); 
    -o-transform:scale(1.04); 
    transform:scale(1.04);
    transition: all .3s ease-in-out;
}

.livro-hover:not(hover) {
    transition: all .5s ease-out;
}*/

a {
    text-decoration: none !important;
}

.livro-hover figure img{
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 5px;
}

.livro-hover figure img:hover {
    border-color: #92CDCF;
}

.livro-hover figure img:hover  .livro-autor a {
    color: #92CDCF !important;
    transition: all .2s ease-in-out;
}

.livro-hover figcaption .livro-titulo{
    color:white;
    font-weight: bold;
}

.livro-hover figcaption .livro-autor{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: bold;
}

.livro-pontuado img {
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    border: 5px solid white;
}

.livro-pontuado img:hover {
    border-color: #92CDCF;
}

.ranking-div {
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}